/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body { margin: 0px;}

  #first, #second, html, main, body {
    height: 100%;
  }

  #first {
    background-color: #eae9e6 /*#E6E1FC*/;
  }

  #firstLeft {
    /* width: 50%; */
    /* float: left; */
    /* margin: auto; */
    padding-top: 20px;
  }

  #profile {
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 60%;
    border-radius: 50%;
  }

  #firstRight {
    /* float: right; */
    /* width: 50%; */
  }

  #panelFirst {
    /* margin-top: 180px; */
    color: #2B262A;
    height: 100%;
    /* margin-left: 25px; */
  }

  #panelFirst h1 {
    font-family: sans-serif;
    font-size: 50px;
    text-align: center;
    display: none;
  }

  #panelFirst h2 {
    font-family: sans-serif;
    font-size: 35px;
    text-align: center;
    display: none;
  }

  .projects {
    margin-left: 12.5%;
    padding-top: 40px;
    width: 75%;
  }

}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body { margin: 0px;}

  #first, html, main, body {
    height: 110%;
  }

  #first {
    background-color: #eae9e6 /*#E6E1FC*/;
  }

  #firstLeft {
    padding-top: 20px;
  }

  #profile {
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 60%;
    border-radius: 50%;
  }

  #panelFirst {
    color: #2B262A;
    height: 100%;
  }

  #panelFirst h1 {
    font-family: sans-serif;
    font-size: 80px;
    text-align: center;
    display: none;
  }

  #panelFirst h2 {
    font-family: sans-serif;
    font-size: 55px;
    text-align: center;
    display: none;
  }

  .projects {
    padding-left: 18%;
    padding-top: 40px;
  }

  .projectCard {
    width: 80%;
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body { margin: 0px;}

  #first, html, main, body {
    height: 100%;
  }

  #first {
    background-color: #eae9e6 /*#E6E1FC*/;
  }

  #firstLeft {
    width: 50%;
    float: left;
    padding-top: 20px;
  }

  #profile {
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 60%;
    border-radius: 50%;
    margin-top: 115px;
  }

  #firstRight {
    float: right;
    width: 50%;
    padding-top: 20px;

  }

  #panelFirst {
    color: #2B262A;
    height: 100%;
  }

  #panelFirst h1 {
    font-family: sans-serif;
    font-size: 50px;
    text-align: left;
    display: none;
    margin-top: 170px;
  }

  #panelFirst h2 {
    font-family: sans-serif;
    font-size: 35px;
    text-align: left;
    display: none;
  }

  .projects {
    padding-left: 0;
    padding-top: 40px;
  }

  .projects {
    width: 50%;
  }

  .projectCard {
    width: 75%;
    margin-left: 12.50%;
  }

  #Viasat {
    float: left;
  }

  #pod {
    float: right;
  }

  #weather {
    float: left;
    clear: left;
  }

  #homies {
    float: right;
    clear: right;
  }

  #calc {
    float: left;
    clear: left;
  }

  #Avalon {
    float: right;
    clear: right;
  }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body { margin: 0px;}

  #first, html, main, body {
    height: 100%;
  }

  #first {
    background-color: #eae9e6 /*#E6E1FC*/;
  }

  #firstLeft {
    width: 50%;
    float: left;
    /* margin: auto; */
    padding-top: 20px;
  }

  #profile {
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 60%;
    border-radius: 50%;
    margin-top: 150px;
  }

  #firstRight {
    float: right;
    width: 50%;
    padding-top: 20px;
  }

  #panelFirst {
    /* margin-top: 180px; */
    color: #2B262A;
    height: 100%;
    /* margin-left: 25px; */
  }

  #panelFirst h1 {
    font-family: sans-serif;
    font-size: 75px;
    text-align: left;
    display: none;
    margin-top: 180px;
  }

  #panelFirst h2 {
    font-family: sans-serif;
    font-size: 55px;
    text-align: left;
    display: none;
  }

  .projects {
    padding-left: 0;
    padding-top: 40px;
  }

  .projects {
    width: 50%;
  }

  .projectCard {
    width: 75%;
    margin-left: 12.50%;
  }

  #Viasat {
    float: left;
  }

  #pod {
    float: right;
  }

  #weather {
    float: left;
    clear: left;
  }

  #homies {
    float: right;
    clear: right;
  }

  #calc {
    float: left;
    clear: left;
  }

  #Avalon {
    float: right;
    clear: right;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body { margin: 0px;}

  #first, html, main, body {
    height: 100%;
  }

  #first {
    background-color: #eae9e6 /*#E6E1FC*/;
  }

  #firstLeft {
    width: 50%;
    float: left;
    /* margin: auto; */
    padding-top: 20px;
  }

  #profile {
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 60%;
    border-radius: 50%;
    margin-top: 115px;
  }

  #firstRight {
    float: right;
    width: 50%;
    padding-top: 20px;
  }

  #panelFirst {
    /* margin-top: 180px; */
    color: #2B262A;
    height: 100%;
  }

  #panelFirst h1 {
    font-family: sans-serif;
    font-size: 75px;
    text-align: left;
    display: none;
    margin-top: 180px;
  }

  #panelFirst h2 {
    font-family: sans-serif;
    font-size: 55px;
    text-align: left;
    display: none;
  }

  .projects {
    padding-left: 0;
    padding-top: 40px;
  }

  .projects {
    width: 33.33333%;
    height: 70%;
  }

  .projectCard {
    width: 75%;
    margin-left: 12.50%;
    margin-top: 7%;
  }

  #Viasat {
    float: left;
  }

  #pod {
    float: left;
  }

  #weather {
    float: left;
    clear: right;
  }

  #homies {
    float: left;
  }

  #calc {
    float: left;
    clear: right;
  }

  #Avalon {
    float: left;
  }

}
