/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body { margin: 0px;}

  #first, #second, html, main, body {
    height: 95%;
  }

  #first {
    background-color: #eae9e6 /*#E6E1FC*/;
  }

  #firstLeft {
    /* width: 50%; */
    /* float: left; */
    /* margin: auto; */
    padding-top: 20px;
  }

  #profile {
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 60%;
    border-radius: 50%;
  }

  /* #firstRight {
    float: right;
    width: 50%;
  } */

  #panelFirst {
    /* margin-top: 180px; */
    color: #2B262A;
    height: 100%;
    /* margin-left: 25px; */
  }

  #panelFirst h1 {
    font-family: sans-serif;
    font-size: 50px;
    text-align: center;
    display: none;
  }

  #panelFirst h2 {
    font-family: sans-serif;
    font-size: 35px;
    text-align: center;
    display: none;
  }

  .projects {
    margin-left: 12.5%;
    width: 75%;
  }

  #projectsHead {
    font-size: 35px;
    text-align: center;
    /* padding-top: 10px; */
  }

  .intro {
    display: none;
  }

  #raas {
    float: left;
  }

  #code {
    float: left;
    clear: right;
  }

  #codeTop {
    width: 90%;
    height: 90%;
    margin-left: 5%;
    display: block;
  }

  #adventure {
    float: left;
  }

  #Iam {
    font-weight: bold;
  }

  #aboutHead {
    text-align: center;
    font-size: 35px;
  }

  #second {
    height: 150%;
  }

  #parallax {
    background-image: url("sunset.jpeg");
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body { margin: 0px;}

  #first, html, main, body {
    height: 97%;
  }

  #first {
    background-color: #eae9e6 /*#E6E1FC*/;
  }

  #firstLeft {
    padding-top: 20px;
  }

  #profile {
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    height: 55%;
    border-radius: 50%;
  }

  #panelFirst {
    color: #2B262A;
    height: 100%;
  }

  #panelFirst h1 {
    font-family: sans-serif;
    font-size: 70px;
    text-align: center;
    display: none;
  }

  #panelFirst h2 {
    font-family: sans-serif;
    font-size: 45px;
    text-align: center;
    display: none;
  }

  .projects {
    padding-left: 18%;
    /* padding-top: 40px; */
  }

  .projectCard {
    width: 80%;
  }

  #projectsHead {
    font-size: 45px;
    text-align: center;
  }

  .intro {
    display: none;
    /* width: 516px;
    height: 400px; */
  }

  #raas {
    float: left;
  }

  #code {
    float: left;
    clear: right;
  }

  #codeTop {
    width: 100%;
    height: 100%;
    margin-left: 12%;
    display: block;
  }

  #adventure {
    float: left;
  }

  #Iam {
    font-weight: bold;
  }

  #aboutHead {
    text-align: center;
    font-size: 45px;
  }

  #second {
    height: 150%;
  }

  #parallax {
    background-image: url("sunset.jpeg");
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body { margin: 0px;}

  #first, html, main, body {
    height: 95%;
  }

  #first {
    background-color: #eae9e6 /*#E6E1FC*/;
  }

  #firstLeft {
    width: 50%;
    float: left;
    padding-top: 20px;
  }

  #profile {
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 60%;
    border-radius: 50%;
    margin-top: 115px;
  }

  #firstRight {
    float: right;
    width: 50%;
    padding-top: 20px;

  }

  #panelFirst {
    color: #2B262A;
    height: 100%;
  }

  #panelFirst h1 {
    font-family: sans-serif;
    font-size: 50px;
    text-align: left;
    display: none;
    margin-top: 170px;
  }

  #panelFirst h2 {
    font-family: sans-serif;
    font-size: 35px;
    text-align: left;
    display: none;
  }

  .projects {
    padding-left: 0;
    padding-top: 5px;
  }

  .projects {
    width: 50%;
  }

  .projectCard {
    width: 75%;
    margin-left: 12.50%;
  }

  #Viasat {
    float: left;
  }

  #pod {
    float: right;
  }

  #weather {
    float: left;
    clear: left;
  }

  #homies {
    float: right;
    clear: right;
  }

  #calc {
    float: left;
    clear: left;
  }

  #Avalon {
    float: right;
    clear: right;
  }

  #projectsHead {
    font-size: 45px;
    text-align: center;
  }

  .intro {
    display: block;
    height: 200px;
  }

  #raas {
    float: left;
  }

  #code {
    float: left;
    clear: right;
  }

  #codeTop {
    display: none;
  }

  #adventure {
    float: none;
    margin-left: 26%;
  }

  #Iam {
    font-weight: bold;
  }

  #aboutHead {
    text-align: center;
    font-size: 45px;
  }

  #second {
    height: 150%;
  }

  #parallax {
    background-image: url("sunset.jpeg");
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body { margin: 0px;}

  #first, html, main, body {
    height: 95%;
  }

  #first {
    background-color: #eae9e6 /*#E6E1FC*/;
  }

  #firstLeft {
    width: 50%;
    float: left;
    /* margin: auto; */
    padding-top: 20px;
  }

  #profile {
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 60%;
    border-radius: 50%;
    margin-top: 150px;
  }

  #firstRight {
    float: right;
    width: 50%;
    padding-top: 20px;
  }

  #panelFirst {
    /* margin-top: 180px; */
    color: #2B262A;
    height: 100%;
    /* margin-left: 25px; */
  }

  #panelFirst h1 {
    font-family: sans-serif;
    font-size: 75px;
    text-align: left;
    display: none;
    margin-top: 180px;
  }

  #panelFirst h2 {
    font-family: sans-serif;
    font-size: 55px;
    text-align: left;
    display: none;
  }

  .projects {
    padding-left: 0;
    padding-top: 7px;
  }

  .projects {
    width: 50%;
  }

  .projectCard {
    width: 75%;
    margin-left: 12.50%;
  }

  #Viasat {
    float: left;
  }

  #pod {
    float: right;
  }

  #weather {
    float: left;
    clear: left;
  }

  #homies {
    float: right;
    clear: right;
  }

  #calc {
    float: left;
    clear: left;
  }

  #Avalon {
    float: right;
    clear: right;
  }

  #projectsHead {
    font-size: 50px;
    text-align: center;
  }

  #projectsHead {
    font-size: 45px;
    text-align: center;
  }

  .intro {
    display: block;
    height: 225px;
  }

  #raas {
    float: left;
  }

  #code {
    float: left;
    clear: right;
  }

  #codeTop {
    display: none;
  }

  #adventure {
    float: none;
    margin-left: 26%;
  }

  #Iam {
    font-weight: bold;
  }

  #aboutHead {
    text-align: center;
    font-size: 45px;
  }

  #second {
    height: 150%;
  }

  #parallax {
    background-image: url("sunset.jpeg");
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body { margin: 0px;}

  #first, html, main, body {
    height: 95%;
  }

  #first {
    background-color: #eae9e6 /*#E6E1FC*/;
  }

  #firstLeft {
    width: 50%;
    float: left;
    /* margin: auto; */
    padding-top: 20px;
  }

  #profile {
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 60%;
    border-radius: 50%;
    margin-top: 115px;
  }

  #firstRight {
    float: right;
    width: 50%;
    padding-top: 20px;
  }

  #panelFirst {
    /* margin-top: 180px; */
    color: #2B262A;
    height: 100%;
  }

  #panelFirst h1 {
    font-family: sans-serif;
    font-size: 75px;
    text-align: left;
    display: none;
    margin-top: 180px;
  }

  #panelFirst h2 {
    font-family: sans-serif;
    font-size: 55px;
    text-align: left;
    display: none;
  }

  #second {
    height: 100%;
  }

  .projects {
    padding-left: 0;
    padding-top: 7px;
  }

  .projects {
    width: 33.33333%;
    height: 70%;
  }

  .projectCard {
    width: 75%;
    margin-left: 12.50%;
    /* margin-top: 3%; */
  }

  #Viasat {
    float: left;
  }

  #pod {
    float: left;
  }

  #weather {
    float: left;
    clear: right;
  }

  #homies {
    float: left;
  }

  #calc {
    float: left;
    clear: right;
  }

  #Avalon {
    float: left;
  }

  #projectsHead {
    font-size: 56px;
    text-align: center;
  }

  .intro {
    height: 200px;
  }

  #raas {
    float: left;
  }

  #code {
    float: left;
    clear: right;
  }

  #codeTop {
    display: none;
  }

  #adventure {
    float: left;
    margin-left: 0px;
  }

  #Iam {
    font-weight: bold;
  }

  #aboutHead {
    text-align: center;
    font-size: 56px;
  }

  #parallax {
    background-image: url("sunset.jpeg");
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

}
