/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    body { 
        margin: 0px;
        font-family: sans-serif;
    }
    
    #header {
        height: 100%;
        background-color: #eae9e6;
        overflow: auto;
        padding-top: 10%;
    }
    
    #profile {
        margin-left: auto;
        margin-right: auto;
        width: 30%;
        height: 30%;
        border-radius: 50%;
        margin-left: 35%;
      }
    
    #profileContainer {
        width: 100%; 
    }
    
    
    #headerTextContainer h1 {
        font-size: 30px;
        text-align: center;
    }
    
    #headerText {
        display: none;
    }
    
    #ucd {
        width: 4%;
        height: 4%;
    }
    
    #codeLogo {
        width: 3%;
        height: 3%;
        border-radius: 50%;
    }
    
    #sports {
        width: 3%;
        height: 3%;
        border-radius: 50%;
    }
    
    #games {
        width: 2%;
        height: 2%;
    }
    
    #jobSearch {
        font-weight: bold;
    }
    
    .sectionHead {
        font-size: 40px;
        text-align: center;
    }
    
    #about {
        overflow: auto;
        margin-bottom: 5%;
    }
    
    #aboutContentContainer {
        margin-top: 5%;
    }
    
    #aboutCodeImage {
        float: left;
        width: 50%;
    }
    
    #aboutCodeTextContainer {
        float: right;
        width: 50%;
    }
    
    #aboutCodeText {
        margin-right: 10%;
        font-size: 24px;
        line-height: 1.5;
    }
    
    #code {
        margin-left: 10%;
        width: 75%;
        height: 75%;
    }
    
    #parallax {
        background-image: url("sunset.jpeg");
        min-height: 500px; 
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    
    .bold {
        font-weight: bold;
    }
    
    
    #techExperience {
        overflow: auto;
        margin-bottom: 5%;
    }
    
    #nontechExperience {
        overflow: auto;
        margin-bottom: 5%;
        background-color: #F5F5F5;
    }
    
    #maximus {
        margin-left: 10%;
        width: 75%;
        height: 75%;
    }
    
    #viasat {
        margin-left: 10%;
        width: 75%;
        height: 75%;
    }
    
    #iet {
        margin-right: 10%;
        width: 75%;
        height: 75%;
    }
    
    #dfkdc {
        margin-right: 10%;
        width: 75%;
        height: 75%;
    }
    
    #raas {
        margin-left: 10%;
        width: 75%;
        height: 75%;
    }
    
    #insomnia {
        margin-left: 10%;
        margin-bottom: 10%;
        width: 60%;
        height: 60%;
    }
    
    #insomniaImage {
        float: right;
        width: 50%;
    }
    
    #oddContentContainer {
        margin-top: 5%;
        overflow: auto;
    }
    
    #oddImage {
        float: left;
        width: 50%;
    }
    
    #oddTextContainer {
        float: right;
        width: 50%;
    }
    
    #oddText {
        margin-right: 10%;
        font-size: 24px;
        line-height: 1.5;
    }
    
    #evenContentContainer {
        margin-top: 5%;
        overflow: auto;
        max-height: auto;
    }
    
    #evenImage {
        float: right;
        width: 50%;
    }
    
    #evenTextContainer {
        float: left;
        width: 50%;
    }
    
    #evenText {
        margin-left: 10%;
        margin-right: 15%;
        font-size: 24px;
        line-height: 1.5;
    }
    
    
    #actionTextContainer {
        float: left;
        width: 50%;
        font-size: 24px;
        margin-right: 5%;
    }
    
    #actionImage {
        float: right;
        width: 50%;
    }
    
    #action {
        width: 50%;
        height: 50%;
        border-radius: 50%;
        margin-left: 20%;
        margin-bottom: 10%;
    }
    
}

/* 

body { 
    margin: 0px;
    font-family: sans-serif;
}

#header {
    height: 100%;
    background-color: #eae9e6;
    overflow: auto;
    padding-top: 10%;
}

#profile {
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    height: 65%;
    border-radius: 50%;
    margin-left: 10%;
  }

#profileContainer {
    float: left;
    width: 45%; 
}

#headerTextContainer {
    float: right;
    width: 55%;
}

#headerTextContainer h1 {
    font-size: 48px;
}

#headerText {
    font-size: 24px;
    margin-right: 20%;
    margin-bottom: 10%;
}

#ucd {
    width: 4%;
    height: 4%;
}

#codeLogo {
    width: 3%;
    height: 3%;
    border-radius: 50%;
}

#sports {
    width: 3%;
    height: 3%;
    border-radius: 50%;
}

#games {
    width: 2%;
    height: 2%;
}

#jobSearch {
    font-weight: bold;
}

.sectionHead {
    font-size: 40px;
    text-align: center;
}

#about {
    overflow: auto;
    margin-bottom: 5%;
}

#aboutContentContainer {
    margin-top: 5%;
}

#aboutCodeImage {
    float: left;
    width: 50%;
}

#aboutCodeTextContainer {
    float: right;
    width: 50%;
}

#aboutCodeText {
    margin-right: 10%;
    font-size: 24px;
    line-height: 1.5;
}

#code {
    margin-left: 10%;
    width: 75%;
    height: 75%;
}

#parallax {
    background-image: url("sunset.jpeg");
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.bold {
    font-weight: bold;
}


#techExperience {
    overflow: auto;
    margin-bottom: 5%;
}

#nontechExperience {
    overflow: auto;
    margin-bottom: 5%;
    background-color: #F5F5F5;
}

#maximus {
    margin-left: 10%;
    width: 75%;
    height: 75%;
}

#viasat {
    margin-left: 10%;
    width: 75%;
    height: 75%;
}

#iet {
    margin-right: 10%;
    width: 75%;
    height: 75%;
}

#dfkdc {
    margin-right: 10%;
    width: 75%;
    height: 75%;
}

#raas {
    margin-left: 10%;
    width: 75%;
    height: 75%;
}

#insomnia {
    margin-left: 10%;
    margin-bottom: 10%;
    width: 60%;
    height: 60%;
}

#insomniaImage {
    float: right;
    width: 50%;
}

#oddContentContainer {
    margin-top: 5%;
    overflow: auto;
}

#oddImage {
    float: left;
    width: 50%;
}

#oddTextContainer {
    float: right;
    width: 50%;
}

#oddText {
    margin-right: 10%;
    font-size: 24px;
    line-height: 1.5;
}

#evenContentContainer {
    margin-top: 5%;
    overflow: auto;
    max-height: auto;
}

#evenImage {
    float: right;
    width: 50%;
}

#evenTextContainer {
    float: left;
    width: 50%;
}

#evenText {
    margin-left: 10%;
    margin-right: 15%;
    font-size: 24px;
    line-height: 1.5;
}


#actionTextContainer {
    float: left;
    width: 50%;
    font-size: 24px;
    margin-right: 5%;
}

#actionImage {
    float: right;
    width: 50%;
}

#action {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    margin-left: 20%;
    margin-bottom: 10%;
} */