body { margin: 0px; }

.resume {
  background-color: #C7C7D3;
  font-family: sans-serif;
}

.navlist ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2B262A;
  font-family: sans-serif;
  font-weight: bold;
}

.navlist li { float: left; }

li a, .dropbtn {
  display: inline-block;
  color: #C7C7D3;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li a:hover, .dropdown:hover .dropbtn {
  background-color: #2D2B2E;
  color: #C7C7D3;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #2B262A;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #C7C7D3;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover { background-color: #2D2B2E }

.dropdown:hover .dropdown-content {
  display: block;
}

.media { float: right; }

#linkedin { height: 45px;
			      width: 70px;
			      margin-top: 3px;
}

#mail { height: 47px;
		    width: 55px;
		    margin-bottom: 2px;
		    margin-right: 10px;
}

#eduHead { float: left;
           color: #2B262A;
           margin-left: 30px;
           font-size: 36px;
}

#skillsHead { float: right;
			        margin-right: 590px;
              color: #2B262A;
              font-size: 36px;
}

#eduContent { float: left;
			        clear: left;
              color: #2B262A;
              font-size: 24px;
}

#skillsContent { float: right;
				         clear: right;
				         margin-right: 200px;
				         margin-top: 25px;
                 color: #2B262A;
                 font-size: 24px;
}

#contentContainer { margin-right: 580px; }

.panel { clear: both;
         color: #2B262A;
         font-size: 24px;
}

dt { color: #2B262A; }

#eduSkills dd { color: #2B262A;
                font-size: 24px;
}

#introline {
  color: #2B262A;
  margin-left: 30px;
 }

table { border-spacing: 0;
		    border: 3px solid black;
}

tr:nth-of-type(odd) {
  background-color: #C7C7D3;
  color: #2B262A;
 }

tr:nth-of-type(even) {
  background-color: #2B262A;
  color: #C7C7D3;
 }
